// Värit
$punainen1: #E12124;
$punainen2: #E12124;
$vaalea1: #FAFAFA;
$vaalea2: #EDEAE1;
$tumma1: #4C4C4C;
$tumma2: #25171A;

// Fontit
$if-weight: 600;
$if-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$text-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

$border-radius: 8px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$transition: all 0.3s ease;


html {
  color: $tumma2;
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  background-color: $vaalea2;
  font-family: $text-font;
  margin: 0;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: lightgoldenrodyellow;
  filter: url(#wavy2);
}

a {
  text-decoration: none;
  color: inherit;
  transition: $transition;
}

header {
  font-family: $if-font;
  font-weight: $if-weight;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  background-color: $vaalea2;
  transition: $transition;
}

header>nav {
  margin: 0rem;
  padding-top: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 2px $tumma2;
  margin: 0;
  padding: 1rem 2rem
}

header>nav>div {
  display: flex;
  align-items: baseline;
}

header>nav>div>div a {
  padding: 1rem;
  text-decoration: underline;
  text-decoration-color: $punainen1;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}


header>nav:nth-child(1)>div:nth-child(1):hover,
header>nav>div>div:hover {
  transform: scale(1.05);
}

header>nav>div>div a:hover,
header>nav>div>div span:hover {
  color: $punainen1;
  text-decoration-color: $punainen1;
  cursor: pointer;
}

header>nav>div>div span {
  padding: 1rem;
  text-decoration: underline;
  text-decoration-color: $punainen1;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

header>nav img {
  width: 160px;
  height: auto;
}

.bar {
  background-color: $tumma1;
  padding: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 100;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $vaalea2;
  min-width: 300px;
  border: solid 2px $tumma2;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  z-index: 1;
}

.dropdown-content div {
  padding: 0.5rem;
}

.dropdown-content div:hover {
  transform: scale(1.05);
}

.header-img {
  height: 200px;
  border-bottom: 3px solid $punainen1;
  border-top: 3px solid $punainen1;
  display: flex;
  overflow: hidden;
  justify-content: center;
  background-image:
    url("https://liljannekoti.fi/kuvat/alavudenyksikko_edesta.png");
  background-repeat: repeat;
  background-size: 400px;
  background-position: center;
}

.header-img h1 {
  backdrop-filter: contrast(20%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  align-self: center;
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: $punainen1;
  text-shadow: 2px 1px 1px black;
}

.content {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  min-height: 75vh;
  max-width: 1333px;
  margin: 10px auto 10px auto;
  padding: 2rem;
  background-color: $vaalea1;
  transition: $transition;
}

.content .content-splitter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content .content-splitter>div {
  width: 40%;
  margin: auto;
}

.content .content-splitter img {
  max-width: 100%;
  height: auto;
  border: 4mm ridge rgb(213 176 150 / 0.9);
}

.mertokarin-yhteystiedot {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.content:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  transition: $transition;
}

h1 {
  font-size: 3.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

.content h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: $punainen1;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.content h2 {
  color: $punainen1;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.content h3 {
  color: $punainen1;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.blog {
  margin: 1rem;
}

.blog a {
  display: block;
  width: fit-content;
}

.blog div {
  padding: 1rem;
  border: solid 2px $vaalea1;
}

.blog div:hover {
  transform: rotate(1deg);
  // border: solid 2px black;
}

footer {
  font-weight: $if-weight;
  background-color: $tumma1;
  padding: 1rem;
  color: $vaalea1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: $if-font;
  font-size: 14;
  transition: all 0.3s linear;
}

footer:hover {
  box-shadow:
    0 0 0 4px rgb(255 0 0 / 0.1),
}

footer>div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer>div div {
  margin: 1rem;
}

footer>div div:first-child {
  margin-bottom: 2rem;
}

footer>div div:first-child a:hover {
  text-decoration: underline;
}

footer a {
  padding: 0.5rem;
}

footer>div div:nth-last-child(2):hover {
  transform: scale(1.05);
}

footer>div div:last-child {
  color: black;
  font-size: 0.5rem;
  padding: 0;
  margin: 0;
}

.etusivun-linkit {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-bottom: 3rem;
  flex-wrap: wrap;
}

.etusivun-linkit>a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px $tumma1;
}

.etusivun-linkit>a:hover {
  transform: scale(1.05);
}

.etusivun-linkit img {
  width: 350px;
  height: 260px;
  vertical-align: middle;
  border: 4mm ridge rgb(213 176 150 / 0.9);
}

.etusivun-linkit img:hover {
  box-shadow: 2px 1px 2px 1px rgb(0 0 0 / 0.3);
  transition: $transition;
}

#etusivukuvaus {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

.yhteystiedot {
  display: flex;
  justify-content: space-around;
}

.contact-unit {
  margin-bottom: 30px;
  background-color: #f9f9f9;
  padding: 20px;
  padding-left: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.unit-name {
  font-weight: bold;
  font-size: 1.5em;
  color: $punainen1;
  margin-bottom: 10px;
  text-shadow: 1px 1px $tumma1;
}

.address {
  font-style: italic;
  margin-bottom: 10px;
}

.general-contact {
  margin-bottom: 15px;
  font-weight: bold;
}

.contact-person {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
}

.contact-person img {
  padding: 1rem;
}


.name {
  font-weight: bold;
  color: $punainen1;
}

.title {
  font-style: italic;
  color: $tumma1;
}

.phone,
.email {
  margin-top: 5px;
}

.email {
  color: $tumma2;
  text-decoration: none;
}

.email:hover {
  text-decoration: underline;
}

.vastaavathoitajat {
  display: flex;
  flex-direction: row;
  flex-wrap: true;
  gap: 1rem;
}


.omavalvonta-chooser {
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.omavalvonta-chooser li {
  text-decoration: underline;
  padding: 0.5rem;
}

.omavalvonta-chooser a:hover {
  text-decoration: underline;
  color: $punainen1;
}

#omavalvonta-suunnitelma {
  text-decoration: underline;
}

.download-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  background: #E12124;
  color: #FAFAFA;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 2px 6px #25171A22;
  transition: background 0.2s, color 0.2s;
}

.download-btn:hover {
  background: #4C4C4C;
  color: #EDEAE1;
}

.download-btn span {
  font-size: 1.2em;
}


// ==================== //
//    Pienet näytöt     //
// ==================== //
@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }

  .content {
    margin: 10px 10px 10px 10px;
  }

  .etusivun-linkit {
    flex-direction: row;
    align-items: center;
  }

  .etusivun-linkit img {
    width: 275px;
    height: 175px
  }

}



// ==================== //
//      Puhelimet       //
// ==================== //
@media (max-width: 768px) {

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $vaalea2;
    min-width: 300px;
    left: -50px;
    border: solid 2px $tumma2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    z-index: 1;
  }

  .dropdown-content div {
    padding: 1rem;
  }

  body>header:nth-child(1)>nav:nth-child(1)>div:nth-child(2) {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
  }

  body>header:nth-child(1)>nav:nth-child(1)>div:nth-child(2)>div {
    padding-bottom: 2rem;
  }

  html {
    font-size: 14px;
  }

  body {
    padding: 0;
    width: auto;
  }

  header>nav>div>div {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  header>nav>div>div>a {
    padding: 0.5rem;
  }

  .content {
    padding: 0.80rem;
    padding-top: 5rem;
    margin: 10px 4px 10px 4px;
    background-color: $vaalea1;
  }

  .etusivun-linkit {
    align-items: center;
    flex-wrap: wrap;
  }

  #etusivukuvaus {
    text-align: center;
    font-size: 1rem;
  }

  .yksikon-yhteystiedot>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  footer>div>div {
    display: flex;
    flex-wrap: wrap;
  }

  .yhteystiedot {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contact-person {
    flex-direction: column-reverse;
    align-items: baseline;
  }

  .vastaavathoitajat {
    flex-direction: column;
    flex-wrap: true;
  }

  .yksikon-yhteystiedot {
    display: flex;
    flex-direction: column;
  }

  .yksikon-yhteystiedot>div {
    display: flex;
    flex-direction: column;
  }

  .content .content-splitter {
    display: initial;
  }

  .content .content-splitter img {
    flex-direction: column;
  }

  .content .content-splitter div {
    width: 80%;
  }

}

.flex {
  display: flex;
}

.content p a {
  text-decoration: underline;
  color: $punainen1;
}

@media (max-width: 530px) {

  html {
    font-size: 14px;
  }

  .etusivun-linkit {
    flex-wrap: wrap;
  }

  header>nav {
    justify-content: space-around;
  }

  .yhteystiedot {
    flex-direction: column;
  }

  body {
    padding: 0;
  }

  * {
    margin: 0;
  }

  .contact-unit {
    padding: 15px;
  }

  .vastaavathoitajat {
    flex-direction: row;
    flex-wrap: true;
  }


}

@media (max-width: 340px) {
  img {
    display: none;
  }
}
