<nav>
        <div>
                <a href="/"> <img src="/images/logo.webp"> </a>
        </div>
        <div>
                <!-- <div> -->
                <!--         <a href="/blogi/"> Ajankohtaista </a> -->
                <!-- </div> -->
                <div class="dropdown">
                        <span class="dropbtn"> Yksiköt </span>
                        <div class="dropdown-content">
                                <div>
                                        <a href="/yksikot/mertokari"> Mertokarin yksikkö </a>
                                </div>
                                <div>
                                        <a href="/yksikot/alavus"> Alavuden yksikkö </a>
                                </div>
                                <div>
                                        <a href="/yksikot/kotipalvelu"> Kotihoito & kotipalvelu </a>
                                </div>
                        </div>
                </div>
                <div>
                        <a href="/yritys"> Meidän tarina </a>
                </div>
                <div>
                        <a href="/yhteystiedot"> Yhteystiedot </a>
                </div>
        </div>
</nav>
