<div class="omavalvonta-chooser">

    <ul>
        <li>
            <a href="/omavalvontasuunnitelmat/omavalvonta-mertokari.pdf">
                Mertokari yksikkö
            </a>
        </li>

        <li>
            <a href="/omavalvontasuunnitelmat/omavalvonta-alavus.pdf">
                Alavuden yksikkö
            </a>
        </li>

        <li>
            <a href="/omavalvontasuunnitelmat/omavalvonta-alavus.pdf">
                Lilja-kotipalvelut ja Lilja-kotihoito
            </a>
        </li>
    </ul>

</div>
